<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Starter Website</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<style>
    body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 25px;
    margin: 25px auto;
    max-width: 650px;
    }

    ul {
        margin-top: 0px;
    }

    #maincontent {
        max-width: 38em;
        margin: 15 auto;
        margin-top: 70px;
    }

    h2 {
        margin-bottom: 0px;
    }
</style>
<body>
    <div id="maincontent">
        <h2 style="text-align: center;"> AI Template Website <br>Say Goodbye to Overcomplex Websites</br></h2>
    </div>
    <hr>
    <ul>
        <!-- Adding options here with an intro-->
        <p> Welcome to our startup we are set out to build a really cool AI tool</p>
        <li>
            Here are some of our objectives
        </li>
        <li>
           Say goodbye to complicated sites
        </li>
        <li>
           Write more code and spend less time on pixel perfect marketing geared sites
        </li>
        <li>
           Lastly ship, ship, ship
        </li>
    </ul>
    <p style="text-align: center; font-style: italic;">
        email us here for more <a href="#"> info </a> • <a href="blog/post.html"> blog </a>
    </p>
    <footer>
        <p style="text-align: center;">&copy; 2024 AI Starter Website</p>
    </footer>
</body>
</html>